# Configuration for the gomarkdown project
*.out
*.swp
*.8
*.6
_obj
_test*
markdown
tags
fuzz-workdir/
markdown-fuzz.zip
coverage.txt
testdata/*_got.md
testdata/*_ast.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
vendor/

# Configuration for multi-module workspaces in Go
go.work

# IntelliJ IDEA IDE-specific files and folders
.idea/